body{
    font-family: 'Montserrat';
    font-size: x-large;
}

h1{
    color: #1e9c5a;
}

.linkHeader{
    text-decoration: none;
    color: #757575;
}

.linkHeader:hover{
    color: #1e9c5a;
}

table{
    margin-left: auto;
    margin-right: auto;
}


hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #1e9c5a;
}
