<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type"  name="viewport" content="width=device-width, initial-scale=1.0, text/html, charset=UTF-8"/>
    <link th:href="@{../static/css/main.css}" rel="stylesheet" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
<header id="topHeader">
</header>
<br>
<br>
<div class="container-contact2">
    <div class="wrap-contact2">
        <form class="contact2-form validate-form">
            <span class="contact2-form-title">Problem Form</span>
            <div>
                <div class="upload-btn-wrapper">
                    <button class="btn">Upload xml file</button>
                    <input align="left" type="file" name="myfile" />
                </div>
                <div class="upload-btn-wrapper">
                    <button class="btn">Upload jar file</button>
                    <input align="right" type="file" name="myfile" />
                </div>
            </div>
            <br>
            <div class="wrap-input2 validate-input uppercase" data-validate="Valid name is required: Example">
                <input class="input2" type="text" name="name">
                <span class="focus-input2" data-placeholder="PROBLEM NAME"></span>
            </div>
            <div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                <input class="input2" type="text" name="email">
                <span class="focus-input2" data-placeholder="EMAIL"></span>
            </div>
            <div class="wrap-input2 validate-input" data-validate = "Message is required">
                <textarea class="input2" name="message"></textarea>
                <span class="focus-input2" data-placeholder="PROBLEM DESCRIPTION"></span>
            </div>
            <div class="wrap-input2 validate-input" data-validate="Number is required">
                <input class="input2" type="number" name="idealTime">
                <span class="focus-input2" data-placeholder="IDEAL TIME IN SECONDS"></span>
            </div>
            <div class="wrap-input2 validate-input" data-validate="Number is required">
                <input class="input2" type="number" name="maxNumber">
                <span class="focus-input2" data-placeholder="MAXIMUM TIME IN SECONDS"></span>
            </div>
            <div class="wrap-input2 validate-input" data-validate="Number is required">
                <input class="input2" type="number" name="variablesNumber">
                <span class="focus-input2" data-placeholder="VARIABLES NUMBER"></span>
            </div>
            <div class="wrap-input2 validate-input" data-validate="Number is required">
                <input type="checkbox" name="algorithm mode" value="Manual">
                <input type="checkbox" name="algorithm mode" value="Automatic">
                <input type="checkbox" name="algorithm mode" value="Mix">
                <span class="focus-input2" data-placeholder="CHOICE OF ALGORITHM MODE"></span>
            </div>

            <div class="container-contact2-form-btn">
                <div class="wrap-contact2-form-btn">
                    <div class="contact2-form-bgbtn"></div>
                    <button class="contact2-form-btn">
                        Submit your Problem to Optimization
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<footer id="bottomFooter">
</footer>
<script th:src="@{../scripts/jquery-3.2.1.min.js}"></script>
<script th:src="@{../scripts/addMainComponents.js}"></script>
</body>
</html>