<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type"  name="viewport" content="width=device-width, initial-scale=1.0, text/html, charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>

<header>
    <table cellspacing="30">
        <th>
            <a class="linkHeader" href="index.html">HOME</a>
        </th>
        <th>
            <a class="linkHeader" href="problemView.html">PROBLEM</a>
        </th>
        <th>
            <a class="linkHeader" href="faq.html">FAQ</a>
        </th>
        <th>
            <a class="linkHeader" href="helpEmail.html">SUPPORT</a>
        </th>
    </table>
</header>
<hr>


    <div>
        <h1>Problem Name</h1>
        <input type="text">
    </div>
    <br>
    <div>
        <h1>Problem Description</h1>
        <input type="text">
    </div>
    <br>
    <div>
        <h1>Email</h1>
        <input type="email" placeholder="email">
    </div>
    <br>
    <div>
        <div align="left">
            <h1>Ideal time</h1>
            <input type="number" placeholder="seconds">
        </div>

        <div align="right">
            <h1>Maximum time</h1>
            <input type="number" placeholder="seconds">
        </div>
    </div>
    <br>
    <div>
        <h1>Number of variables</h1>
        <input type="number">
    </div>

</body>
</html>