<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"  name="viewport" content="width=device-width, initial-scale=1.0, text/html, charset=UTF-8"/>
    <link th:href="@{../static/css/main.css}" rel="stylesheet" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
<header id="topHeader">
</header>
<footer id="bottomFooter">
</footer>
<script th:src="@{../scripts/jquery-3.2.1.min.js}"></script>
<script th:src="@{../scripts/addMainComponents.js}"></script>
</body>
</html>